.App {
  text-align: center;
}

body {
  font-family: "namusquare";
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.list {
  margin-top: 20px;
  text-align: left;
  padding: 0px 20px;
}
